<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>单位角色信息查看</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--bootstrap-->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <!--default-js-->
    <script src="../../js/jquery-2.1.4.min.js"></script>
    <!--bootstrap-js-->
    <script src="../../js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="../../css/leftbar.css">
    <link rel="stylesheet" href="../../css/unit-base-info.css">    
<style type="text/css">
.mark{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;


}
.person{
    width: 800px;
    background-color: #fff;
    z-index: 1000;
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -400px;
    padding: 50px 30px;
}
.person h5{
    padding:10px 20px;
}
.person img{
    margin-left: 100px;
}
figure{
    width: 290px;
    height: 185px;
    float: left;
    margin: 20px 0;
    
}
figcaption{
    margin-left: 210px;
    
}
table{
    width: 100%;
    font-size: 14px;
    border: 1px solid #dcdcdc;
    margin-top: 30px;
}

tr{
    height: 55px;
    border-bottom: 1px solid #dcdcdc;
    text-align: center;

}
td:nth-child(2) a{
    color: #555;
}
td:nth-child(7) a{
    color: #f60;
    text-decoration: underline;
}
thead{
    height: 40px;
    font-weight: bolder;
    background-color: #f0f0f0;
}
</style>
</head>
<body >

	<object style="border:0px" type="text/x-scriptlet" data="../header/head.html" width=100% height=240></object>

<!-- 	<object style="border:0px" type="text/x-scriptlet" data="./main/unit-base-info.html" width=100% height=740></object> -->
    <main>
        <iframe border=0 frameborder=0 width=250 height=500 marginheight=0 marginwidth=0 scrolling=no src="../LeftMenu/unit-left.html">
        </iframe>
           
        <div class="mainright">
            <div class="info">
                <p>基本信息</p>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label"><span class="rednode">*</span>&nbsp&nbsp单位名称：</label>
                        <div class="col-sm-3">
                            <input type="email" class="form-control" id="" placeholder="请输入单位名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label"><span class="rednode">*</span>&nbsp&nbsp法定代表人：</label>
                        <div class="col-sm-3">
                            <input type="password" class="form-control" id="" placeholder="请输入法定代表人">
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <label for="" class="col-sm-2 control-label"><span class="rednode">*</span>&nbsp&nbsp单位地址：</label>
                        <div class="col-sm-2 beclose">
                            <input type="email" class="form-control" id="" placeholder="请选择省份" style="width:150px;">
                        </div>
                        <div class="col-sm-2 beclose">
                            <input type="email" class="form-control" id="" placeholder="请选择市" style="width:150px;">
                        </div>
                        <div class="col-sm-2 beclose">
                            <input type="email" class="form-control" id="" placeholder="请选择区" style="width:150px;">
                        </div>            
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label"><span class="rednode">*</span>&nbsp&nbsp详细地址：</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control" id="" placeholder="请输入详细地址">             
                        </div>
                        <span class="chose"><img src="../../../img/picture3.png" alt="">&nbsp&nbsp地图选点</span>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label"><span class="rednode">*</span>&nbsp&nbsp联系人姓名：</label>
                        <div class="col-sm-3">
                            <input type="email" class="form-control" id="" placeholder="请输入联系人姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label"><span class="rednode">*</span>&nbsp&nbsp固定电话：</label>
                        <div class="col-sm-3">
                            <input type="password" class="form-control" id="" placeholder="请输入固定电话">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label"><span class="rednode">*</span>&nbsp&nbsp验证手机：</label>
                        <div class="col-sm-3">
                            <input type="email" class="form-control" id="" placeholder="请输入验证手机">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label"><span class="rednode">*</span>&nbsp&nbsp短信验证：</label>
                        <div class="col-sm-3">
                            <input type="password" class="form-control" id="" placeholder="请输入短信验证">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label"><span class="rednode">*</span>&nbsp&nbsp联系人邮箱：</label>
                        <div class="col-sm-3">
                            <input type="email" class="form-control" id="" placeholder="请输入联系人邮箱">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label"><span class="rednode">*</span>&nbsp&nbsp行业：</label>
                        <div class="col-sm-3">
                            <input type="password" class="form-control" id="" placeholder="请输入行业">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-warning">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>       
    </main>

	<object style="border:0px;" type="text/x-scriptlet" data="../footer/foot.html" width=100% height=80></object> 
 <div class="mark"></div>
    <div class="person">
        <blockquote>
          <h3>角色信息查看</h3>         
        </blockquote>
        <dl>
            <dt>调度角色：</dt>
            <dd>角色概要：负责分配车辆，查询，指派预约单等行为</dd>
        </dl>
        <table>
          <thead>      
            <td width="50">NO.</td>
            <td width="170">模块名称</td>
            <td width="80">模块概要</td>
          </thead>
          <tr>
            <td>1</td>
            <td><a href="">中国远大运输有限公司</a></td>
            <td>李大伟</td>
          </tr>
          <tr>
            <td>1</td>
            <td><a href="">xxxxxxxxxxxxxxxxxxxx</a></td>
            <td>李大伟</td>
          </tr>
          <tr>
            <td>1</td>
            <td><a href="">xxxxxxxxxxxxxxxxxxxx</a></td>
            <td>李大伟</td>
          </tr>
        </table>

        <!-- 分页代码 -->
            <nav  class="pull-right"> 
                <ul class="pagination " >
                  <li >
                    <a href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li>
                    <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>

    </div>

</body>
</html>