<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>个人安全设置</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--bootstrap-->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <!--default-js-->
    <script src="../../js/jquery-2.1.4.min.js"></script>
    <!--bootstrap-js-->
    <script src="../../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../css/leftbar.css">
    <link rel="stylesheet" href="../../css/person-safe-set.css">
<style type="text/css">
</style>
</head>
<body >

	<object style="border:0px" type="text/x-scriptlet" data="../header/head.html" width=100% height=240></object>

<!-- 	<object style="border:0px" type="text/x-scriptlet" data="./main/person-safe-set.html" width=100% height=740></object> -->
    <main>
        <!-- leftmenu -->
        <iframe border=0 frameborder=0 width=250 height=500 marginheight=0 marginwidth=0 scrolling=no src="../LeftMenu/person-left.html">
        </iframe>
        <!-- leftmenu end-->
        <div class="mainright">
            <div class="info">
                <p>安全设置</p>
                <ul>
                    <li>
                        <img src="../../img/!.png" alt="">
                        <span class="h3">登陆密码</span>
                        <span  class="xian">|</span>
                        <span>验证后迅速登陆</span>
                        <button class="btn btn-warning">立即修改</button>
                    </li>
                    <li>
                        <img src="../../img/dui.png" alt="">
                        <span class="h3">邮箱验证</span>
                        <span class="xian">|</span>
                        <span>适用于手机丢失或换</span>
                        <button class="btn btn-warning">立即修改</button>
                    </li>
                    <li>
                        <img src="../../img/dui.png" alt="">
                        <span class="h3">手机验证</span>
                        <span class="xian">|</span>
                        <span>输入验证码即可</span>
                        <button class="btn btn-warning">立即修改</button>               
                    </li>
                    <li>
                        <img src="../../img/dui.png" alt="">
                        <span class="h3">实名验证</span>
                        <span class="xian">|</span>
                        <span>填写真实有效信息</span>
                        <button class="btn btn-warning">立即修改</button>               
                    </li>
                </ul>
            </div>   
        </div><!-- mainright -->

	<object style="border:0px;" type="text/x-scriptlet" data="../footer/foot.html" width=100% height=80></object> 


</body>
</html>