<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>个人基础信息维护</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--bootstrap-->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <!--default-js-->
    <script src="../../js/jquery-2.1.4.min.js"></script>
    <!--bootstrap-js-->
    <script src="../../js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../css/leftbar.css">
    <link rel="stylesheet" href="../../css/person-info.css">
<style type="text/css">
</style>
</head>
<body >

	<object style="border:0px" type="text/x-scriptlet" data="../header/head.html" width=100% height=240></object>

    <main>
        <!-- leftmenu -->
        <iframe border=0 frameborder=0 width=250 height=500 marginheight=0 marginwidth=0 scrolling=no src="../LeftMenu/person-left.html">
        </iframe>
        <!-- leftmenu end-->
        <div class="mainright">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">基本信息</a></li>
              <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">头像信息</a></li>
              <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">手机修改</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="home">
                <form class="form-horizontal">
                  <div class="form-group" >
                    <label for="" class="col-sm-2 control-label">用户头像：</label>
                      <div class="col-sm-4" >
                      <img src="../../img/picture.png" alt="" >
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label">用户名：</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control borderoff" id="" value="zhaoheng"  readonly="readonly" style="background:#fff;box-shadow:none;">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label">手机号：</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control borderoff" id="" value="13330458245" readonly="readonly" style="background:#fff;box-shadow:none;"> 
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label">真实姓名：</label>
                    <div class="col-sm-4">
                      <input type="password" class="form-control" id="" >
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label">性别：</label>
                    <div class="col-sm-4">                     
                      <label for=""  class="radio-inline">
                        <input type="radio"  id="" name="gender"  >男
                      </label>                      
                      <label for="" class="radio-inline">
                        <input type="radio"  id="" name="gender">女
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label" hidefocus="true">证件类型：</label>
                    <div class="col-sm-4" >
                      <select name="" id="" style="width:100%;padding:6px 0;border:1px solid #ccc;">
                        <option value=""></option>
                        <option value="">个人身份证</option>
                        <option value="">营业执照</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label">证件号码：</label>
                    <div class="col-sm-4">
                      <input type="password" class="form-control" id="" >
                    </div>
                  </div>
                  <div class="form-group input-hide">
                    <label for="" class="col-sm-2 control-label">职业：</label>
                    <div class="col-sm-10">
                      <input type="radio" name="pro-type" value="" id="pro-driver">
                      <label class="label-box" for="pro-driver">司机</label>
                      <input type="radio" name="pro-type" value="" id="pro-control">
                      <label class="label-box" for="pro-control">调度</label>
                      <input type="radio" name="pro-type" value="" id="pro-random">
                      <label class="label-box" for="pro-random">自定义</label>


                      <span class="addnote">+</span>
                    </div>
                  </div>
                  <div class="form-group input-hide">
                    <label for="" class="col-sm-2 control-label">所属行业：</label>
                    <div class="col-sm-10">
                      <input type="radio" name="belongs" value="" id="bel-trans">
                      <label class="label-box" for="bel-trans">输入公司</label>
                      <input type="radio" name="belongs" value="" id="bel-buid">
                      <label class="label-box" for="bel-buid">建筑方</label>
                      <input type="radio" name="belongs" value="" id="bel-random">
                      <label class="label-box" for="bel-random">自定义</label>
                      <span class="addnote">+</span>
                    </div>
                  </div>
                  <div class="form-group input-hide">
                    <label for="" class="col-sm-2 control-label">用户类型：</label>
                    <div class="col-sm-10">
                      <input type="radio" name="user-type" value="" id="user-per">
                      <label class="label-box" for="user-per">个人</label>
                      <input type="radio" name="user-type" value="" id='user-inter'>
                      <label class="label-box" for="user-inter">企业</label>
                      <input type="radio" name="user-type" value="" id="user-gov">
                      <label class="label-box" for="user-gov">政府</label>
                      
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-success btn1">保存</button>
                    </div>
                  </div>
                </form>

              </div>
              <div role="tabpanel" class="tab-pane" id="profile">
                  <div id="head-tab-box">
                    <form name="form0" id="form0">
                      <a href="#" class="a-upload">
                        <input type="file" name="file0" id="file0" multiple="multiple" />
                      上传头像</a>
                        支持大小不超过5M的jpg,png图片
                        <div class="head-pic-box">
                            <div class="head-pic head-pic-left">
                                <img src="" alt="" class="img0">
                            </div>
                            <div class="head-pic head-pic-right">
                                <p>预览</p>
                                <img src="" alt="" class="img0" width="100px" height="100px">
                            </div>
                        </div>
                    <button type="submit" class="btn btn-success btn1" >保存</button> 
                    </form> 
                  </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="messages">
                <div class=" info">                 
                <p>你正在为账号(zhaoheng)的用户修改手机，请选择身份验证的方式</p>
                <ul>
                    <li>
                        <img src="../../img/!.png" alt="">
                        <span class="h3">手机验证</span>
                        <span  class="xian">|</span>
                        <span>验证后迅速登陆</span>
                        <button class="btn btn-warning">立即验证</button>
                    </li>
                    <li>
                        <img src="../../img/dui.png" alt="">
                        <span class="h3">原账户密码</span>
                        <span class="xian">|</span>
                        <span>适用于手机丢失或换</span>
                        <button class="btn btn-warning">验证成功</button>
                    </li>
                    <li>
                        <img src="../../img/dui.png" alt="">
                        <span class="h3">人工服务</span>
                        <span class="xian">|</span>
                        <span>客服电话：885509330</span>
                        <button class="btn btn-warning">验证成功</button>               
                    </li>
                </ul>
            <!-- </div>  -->                              
                </div>
              </div>
            </div>
        </div><!-- mainright -->
            
    </main>

	<object style="border:0px;" type="text/x-scriptlet" data="../footer/foot.html" width=100% height=80></object> 

<script>  
$("#file0").change(function(){
  var objUrl = getObjectURL(this.files[0]) ;
  console.log("objUrl = "+objUrl) ;
  if (objUrl) {
    $(".img0").attr("src", objUrl) ;
  }
}) ;
//建立一個可存取到該file的url
function getObjectURL(file) {
  var url = null ; 
  if (window.createObjectURL!=undefined) { // basic
    url = window.createObjectURL(file) ;
  } else if (window.URL!=undefined) { // mozilla(firefox)
    url = window.URL.createObjectURL(file) ;
  } else if (window.webkitURL!=undefined) { // webkit or chrome
    url = window.webkitURL.createObjectURL(file) ;
  }
  return url ;
}
</script>
</body>
</html>