<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>消纳场信息详情查看</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--bootstrap-->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <!--default-js-->
    <script src="../../js/jquery-2.1.4.min.js"></script>
    <!--bootstrap-js-->
    <script src="../../js/bootstrap.min.js"></script>

    <link href="../../css/common.css" rel="stylesheet" type="text/css">
</head>
<body >
<!--头-->
<object style="border:0px" type="text/x-scriptlet" data="../header/head.html" width=100% height=240></object>
<!--body-->
<div style="width:1206px;margin:0 auto">
    <!--左菜单-->
    <object  data="../leftMenu/parkingLeft.html" width=260px height=840"></object>
    <!--主内容-->
    <div style="width:935px;height:1000px;float: right">
        <div class="parkBasic">
            <div class="parkBg">
                <span>消纳场信息查看</span>
            </div>
            <div class="basic">
                <span style="color: #ff6600;margin-left:63px;"></span><span>公司名称:</span>
                <span>xxx公司</span>
                <span style="color: #ff6600;margin-left:106px;"></span><span>营业状态:</span>
                <span>营业中</span>
            </div>
            <div class="basic">
                <span style="color: #ff6600;margin-left:49px;"></span><span>消纳场名称:</span>
                <span>南郊消纳场</span>
                <span style="color: #ff6600;margin-left:68px;"></span><span>项目负责人:</span>
                <span>老李</span>
                <span style="color: #ff6600;margin-left:65px;"></span><span>项目负责人电话:</span>
                <span>14523568495</span>
            </div>
            <div class="basic">
                <span style="color: #ff6600;margin-left:53px;"></span><span> 消纳量(m³):</span>
                <span>2800.0</span>
                <span style="color: #ff6600;margin-left:82px;"></span><span> 占地面积(㎡):</span>
                <span>1000.0</span>
            </div>
            <div class="basic">
                <span style="margin-left:92px;">地址:</span>
                <span>河南省-驻马店市-驿城区-中山路</span>
            </div>
            <div class="basic2">
                <span style="margin-left:35px;">垃圾处理类型:</span>
                <span>建材生产垃圾</span>
            </div>
            <div class="basic2">
                <span style="margin-left:50px;">消纳场介绍:</span>
            </div>
            <textarea></textarea>
            <div class="basic2">
                <span style="margin-left:50px">消纳场照片:</span>
            </div>
            <img src="../../img/picture4.png" style="margin-left: 128px;margin-top: -30px;">
            <img src="../../img/picture4.png" style="margin-left: 128px;margin-top: -30px;">
            <div class="anNiu"style="margin-left:420px;margin-top:70px">
                <input type="button" value="　返回　" >
            </div>
        </div>
    </div>

</div>
<!--脚-->
<object type="text/x-scriptlet" data="../footer/foot.html" width=100% height=80></object>


</body>
</html>