<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>常用地址详情</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--bootstrap-->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <!--default-js-->
    <script src="../../js/jquery-2.1.4.min.js"></script>
    <!--bootstrap-js-->
    <script src="../../js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../css/leftbar.css">
    <link rel="stylesheet" href="../../css/common-address-list.css">  
<style type="text/css">
.mark{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;


}
.person{
    width: 800px;
    background-color: #fff;
    z-index: 1000;
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -400px;
    padding: 50px 30px;
}
.map-box{
    width: 470px;
    height:350px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    margin: 5px 0 0 180px;

}
.person dt,dd{
    height: 40px;
}


</style>
</head>
<body >

	<object style="border:0px" type="text/x-scriptlet" data="../header/head.html" width=100% height=240></object>

	<!-- <object style="border:0px" type="text/x-scriptlet" data="./main/common-address-list.html" width=100% height=740></object> -->
  <main>
      <iframe border=0 frameborder=0 width=250 height=500 marginheight=0 marginwidth=0 scrolling=no src="../LeftMenu/addrserve-left.html">
      </iframe>
         
      <div class="mainright">
          <div class="info">
              <p>地址列表</p>
              <form class="form-inline pull-right">
                  <div class="form-group">
                  <label for="exampleInputName2" class="form-lable">关键字：</label>
                      <input type="text" class="search-text" id="">
                      <button type="submit" class="search-btn"></button>
                  </div>     
              </form>
              <div class="clearfix"></div>  
          </div>
          <div class="table-info">
              <table>
                  <thead>      
                      <td width="50">NO.</td>
                      <td width="89">地址分类</td>
                      <td width="120">地址名称</td>
                      <td width="220">详细地址</td>
                      <td width="80">联系人</td>
                      <td width="80">联系电话</td>
                      <td width="80">操作</td>
                  </thead>
                  <tr>
                    <td>1</td>
                    <td>项目</td>
                    <td><a href="">XXXXX项目</a></td>
                    <td>河南省-驻马店市-驿城区</td>
                    <td>王东</td>
                    <td>13313039717</td>
                    <td><a href="">删除</a></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>消纳厂</td>
                    <td><a href="">XXXXX消纳厂</a></td>
                    <td>河南省-驻马店市-驿城区</td>
                    <td>王东</td>
                    <td>13313039717</td>
                    <td><a href="">删除</a></td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>停车场</td>
                    <td><a href="">XXXXX停车场</a></td>
                    <td>河南省-驻马店市-驿城区</td>
                    <td>王东</td>
                    <td>13313039717</td>
                    <td><a href="">删除</a></td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>项目</td>
                    <td><a href="">XXXXX项目</a></td>
                    <td>河南省-驻马店市-驿城区</td>
                    <td>王东</td>
                    <td>13313039717</td>
                    <td><a href="">删除</a></td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>项目</td>
                    <td><a href="">XXXXX项目</a></td>
                    <td>河南省-驻马店市-驿城区</td>
                    <td>王东</td>
                    <td>13313039717</td>
                    <td><a href="">删除</a></td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>项目</td>
                    <td><a href="">XXXXX项目</a></td>
                    <td>河南省-驻马店市-驿城区</td>
                    <td>王东</td>
                    <td>13313039717</td>
                    <td><a href="">删除</a></td>
                  </tr>
              </table>
          </div>
      </div>      
  </main>

	<object style="border:0px;" type="text/x-scriptlet" data="../footer/foot.html" width=100% height=80></object> 

  <div class="mark"></div>
  <div class="person">
      <blockquote>
        <h3>常用地址详情</h3>         
      </blockquote>
      <dl class="dl-horizontal">
        <dt>地址名称：</dt>
        <dd>XXX</dd>
        <dt>联系人：</dt>
        <dd>张三</dd>
        <dt>联系电话：</dt>
        <dd>13249874765</dd>
        <dt>所在地区：</dt>
        <dd>辽宁省-沈阳市-和平区</dd>
        <dt>详细地址：</dt>
        <dd>XXXXXXXXXXXXXX</dd>
        <dt>地图：</dt>
        <div class="map-box"></div>
      </dl>           
  </div>

</body>
</html>