<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>禁行信息设置</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--bootstrap-->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <!--default-js-->
    <script src="../../js/jquery-2.1.4.min.js"></script>
    <!--bootstrap-js-->
    <script src="../../js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../css/leftbar.css">
    <link rel="stylesheet" href="../../css/noentry-info-set.css">
<style type="text/css">
</style>
</head>
<body >

	<object style="border:0px" type="text/x-scriptlet" data="../header/head.html" width=100% height=240></object>

<!-- 	<object style="border:0px" type="text/x-scriptlet" data="./main/noentry-info-set.html" width=100% height=740></object> -->
    <main>
        <iframe border=0 frameborder=0 width=250 height=500 marginheight=0 marginwidth=0 scrolling=no src="../LeftMenu/addrserve-left.html">
        </iframe>
           
        <div class="mainright">
            <div class="info">
                <p>禁行信息列表</p>
                <button class="btn btn-warning addbtn">新增</button>
                <form class="form-inline pull-right">
                    <div class="form-group">
                        <label for="exampleInputName2" class="form-lable">关键字：</label>
                        <input type="text" class="search-text" id="">
                        <button type="submit" class="search-btn"></button>
                    </div>        
                </form>
                <div class="clearfix"></div>  
            </div>
            <div class="table-info">
                <table>
                    <thead>      
                        <td width="50">NO.</td>
                        <td width="90">禁行路段名称</td>
                        <td width="280">禁行路段</td>
                        <td width="105">禁行时间</td>
                        <td width="80">禁行车型</td>
                        <td width="80">操作</td>
                    </thead>
                    <tr>
                      <td>1</td>
                      <td><a href="">太原街</a></td>
                      <td>河南省-驻马店市-驿城区-XXXXX</td>
                      <td>6:00-18:00</td>
                      <td>货车</td>
                      <td><a href="">编辑</a><a href="">删除</a></td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td><a href="">中山路</a></td>
                      <td>河南省-驻马店市-驿城区-XXXX</td>
                      <td>全天</td>
                      <td>司机</td>
                      <td><a href="">编辑</a><a href="">删除</a></td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td><a href="">中山路</a></td>
                      <td>河南省-驻马店市-驿城区-XXXXX</td>
                      <td>6:00-18:00</td>
                      <td>4.3米以上</td>
                      <td><a href="">编辑</a><a href="">删除</a></td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td><a href="">南京街</a></td>
                      <td>河南省-驻马店市-驿城区-XXXXX</td>
                      <td>全天</td>
                      <td>4.3米以上</td>
                      <td><a href="">编辑</a><a href="">删除</a></td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td><a href="">太原街</a></td>
                      <td>河南省-驻马店市-驿城区-XXXXX</td>
                      <td>全天</td>
                      <td>4.3米以上</td>
                      <td><a href="">编辑</a><a href="">删除</a></td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td><a href="">南京街</a></td>
                      <td>河南省-驻马店市-驿城区-XXXXX</td>
                      <td>全天</td>
                      <td>4.3米以上</td>
                      <td><a href="">编辑</a><a href="">删除</a></td>
                    </tr>
                </table>
            </div>

            <nav class="pull-right">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
        </div>
            
    </main>

	<object style="border:0px;" type="text/x-scriptlet" data="../footer/foot.html" width=100% height=80></object> 


</body>
</html>