<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>消纳企业详情</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--bootstrap-->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <!--default-js-->
    <script src="../../js/jquery-2.1.4.min.js"></script>
    <!--bootstrap-js-->
    <script src="../../js/bootstrap.min.js"></script>

    <link href="../../css/transportShow/transport-show-detail.css" rel="stylesheet" type="text/css">

  
<style type="text/css">
</style>
</head>
<body >

<!--头-->
<object style="border:0px" type="text/x-scriptlet" data="../header/platform-head.html" width=100% height=210></object>
<!-- 	<object style="border:0px" type="text/x-scriptlet" data="./main/bind-driver-list.html" width=100% height=740></object> -->
    <main>
      <div>       
        <div class="construct">
            <div class="title">
                <p>消纳企业详细信息</p>
            </div>
            <div class="construct-img">
                <div class="img-big">
                  
                </div>
                <div class="img-small-box">
                    <div class="img-small"></div>
                    <div class="img-small"></div>
                    <div class="img-small"></div>
                </div>
              
            </div>
            <div class="construct-text">
              <h5>XXXXXX消纳企业有限公司</h5>
              <dl class="dl-horizontal">
                <dt>单位地址：</dt>
                <dd>河南省-驻马店市-驿城区 驿城大道XXXXXXXXXX号</dd>
                <dt>法人代表：</dt>
                <dd>张XX</dd>
                <dt>联系电话：</dt>
                <dd>13323456789</dd>
                <dt>固定电话：</dt>
                <dd>0396-8888888</dd>
                <dt>处理范围：</dt>
                <dd>建筑施工垃圾、土地开挖垃圾、道路开挖垃圾、旧建筑物拆除垃圾、建材生产垃圾</dd>
                <dt>公司简介：</dt>
                <dd>我公司成立于 2010 年 XX 月，是专业生产和销售商品混 凝土的民营独资企业。位于 XX 开发区内，紧临 XX 公路，交 通便捷，运输方便，完全符合工业环保标准。公司占地 XX 余亩，综合楼建筑面积 XX 平方米，总投资 XX 万元。公司下 设 综合部、生产部、营销服务部、检测试验室 等部门，拥有 职工 XX 余人，其中 XX 级技术职称人员 XX 人应市场混凝土 XX 万立方米以上</dd>
              </dl>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="company-intr">
            <div class="title">
                <p>公司信息</p>
            </div>
            <div class="company-detail">
                <img src="" alt="">
                <div class="company-detail-text">
                  <h5>东郊消纳场</h5>
                  <p>河南省-驻马店市-驿城区   驿城大道xxxxxxx号</p>
                  <p>建筑施工垃圾&nbsp 10000m³</p>
                  <p>负责人：张XX&nbsp15523456789</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="company-detail">
                <img src="" alt="">
                <div class="company-detail-text">
                  <h5>西郊消纳场</h5>
                  <p>河南省-驻马店市-驿城区   驿城大道xxxxxxx号</p>
                  <p>建筑施工垃圾&nbsp 10000m³</p>
                  <p>负责人：王XX&nbsp15523456789</p>
                </div>
                <div class="clearfix"></div>
            </div>
            </div>

      </div>
      
    </main>

<!--底部-->
<object style="border:0px" type="text/x-scriptlet" data="../footer/platform-footer.html" width=100% height=245></object>
    <script src="../../js/jquery-1.12.0.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>

</body>
</html>