<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>施工项目信息</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--bootstrap-->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <!--default-js-->
    <script src="../../js/jquery-2.1.4.min.js"></script>
    <!--bootstrap-js-->
    <script src="../../js/bootstrap.min.js"></script>

    <link href="../../css/constructShow/construct-show-detail.css" rel="stylesheet" type="text/css">

  
<style type="text/css">
</style>
</head>
<body >

<!--头-->
<object style="border:0px" type="text/x-scriptlet" data="../header/platform-head.html" width=100% height=210></object>
<!-- 	<object style="border:0px" type="text/x-scriptlet" data="./main/bind-driver-list.html" width=100% height=740></object> -->
    <main>
      <div>       
        <div class="construct">
            <div class="title">
                <p>施工项目详细信息</p>
            </div>
            <div class="construct-img">
                <div class="img-big">
                  
                </div>
                <div class="img-small-box">
                    <div class="img-small"></div>
                    <div class="img-small"></div>
                    <div class="img-small"></div>
                </div>
              
            </div>
            <div class="construct-text">
              <h5>绿化生态建设清运项目</h5>
              <dl class="dl-horizontal">
                <dt>项目地址：</dt>
                <dd>河南省-驻马店市-驿城区 驿城大道XXXXXXXXXX号</dd>
                <dt>垃圾类型：</dt>
                <dd>建筑施工垃圾、道路开挖垃圾</dd>
                <dt>残土数量：</dt>
                <dd>10000m³</dd>
                <dt>占地面积：</dt>
                <dd>1000m³</dd>
                <dt>建筑面积：</dt>
                <dd>1000m³</dd>
                <dt>负责人：</dt>
                <dd>张XXX &nbsp&nbsp&nbsp13323456789</dd>
                <dt>建设单位：</dt>
                <dd>XXXXXXXX建设开发有限集团</dd>
                <dt>施工单位：</dt>
                <dd>XXXXXXXXXXXXx建设有限公司</dd>
                <dt>设计单位：</dt>
                <dd>河南省设计院</dd>
                <dt>监理公司：</dt>
                <dd>XXXXXXXXXXXXXXXXXXX监理公司</dd>
                <dt>消纳场简介：</dt>
                <dd>我公司成立于 2010 年 XX 月，是专业生产和销售商品混 凝土的民营独资企业。位于 XX 开发区内，紧临 XX 公路，交 通便捷，运输方便，完全符合工业环保标准。公司占地 XX 余亩，综合楼建筑面积 XX 平方米，总投资 XX 万元。公司下 设 综合部、生产部、营销服务部、检测试验室 等部门，拥有 职工 XX 余人，其中 XX 级技术职称人员 XX 人应市场混凝土 XX 万立方米以上</dd>
              </dl>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="company-intr">
            <div class="title">
                <p>公司信息</p>
            </div>
            <div class="company-detail">
                <img src="" alt="">
                <div class="company-detail-text">
                  <h5>绿化生态建设清运项目</h5>
                  <p>河南省-驻马店市-驿城区 驿城大道XXXXXXXXXXXXXXX号</p>
                  <p>建筑施工垃圾 &nbsp10000m³</p>
                  <p>负责人： &nbsp张三&nbsp 15523456789</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="company-detail">
                <img src="" alt="">
                <div class="company-detail-text">
                  <h5>绿化生态建设清运项目</h5>
                  <p>河南省-驻马店市-驿城区 驿城大道XXXXXXXXXXXXXXX号</p>
                  <p>建筑施工垃圾 &nbsp10000m³</p>
                  <p>负责人： &nbsp张三&nbsp 15523456789</p>
                </div>
                <div class="clearfix"></div>
            </div>
            </div>

      </div>
      
    </main>

<!--底部-->
<object style="border:0px" type="text/x-scriptlet" data="../footer/platform-footer.html" width=100% height=245></object>
    <script src="../../js/jquery-1.12.0.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>

</body>
</html>