<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>消息</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--bootstrap-->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <!--default-js-->
    <script src="../../js/jquery-2.1.4.min.js"></script>
    <!--bootstrap-js-->
    <script src="../../js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../css/leftbar.css">
    <link rel="stylesheet" href="../../css/messages.css">
<style type="text/css">
</style>
</head>
<body >

	<object style="border:0px" type="text/x-scriptlet" data="../header/head.html" width=100% height=240></object>

<!-- 	<object style="border:0px" type="text/x-scriptlet" data="./main/messages.html" width=100% height=740></object> -->
    <main>
        <iframe border=0 frameborder=0 width=250 height=500 marginheight=0 marginwidth=0 scrolling=no src="../LeftMenu/messagescenter-left.html">
        </iframe>
           
        <div class="mainright">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">所有消息(12)</a></li>
              <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">系统消息(9)</a></li>
              <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">好友消息(3)</a></li>
            </ul>
            <!-- Tab panes -->
              <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="home">
                <div class="tab1-text">
                  <button class="btn btn-default">全部消息</button>
                  <button class="btn btn-default">未读消息</button>
                  <button class="btn btn-default">已读消息</button>
                  <button class="btn btn-default pull-right">清空已读消息</button>
                  <ul class="list-unstyled">
                    <li>
                      <span class="pull-left"><img src="../../img/yel.png" alt=""></span>
                      <dl class="pull-left">
                        <dt>XXX物流公司</dt>
                        <dd>您好，我是XXX物流公司，想加您为司机，希望能跟您合作愉快，达到共赢</dd>
                      </dl>
                      <button class="btn btn-warning  pull-right">同意</button>
                      <button class="btn  pull-right">忽略</button>
                      <div class="clearfix"></div>
                    </li>
                    <li>
                      <span class="pull-left"><img src="../../img/yel.png" alt=""></span>
                      <dl class="pull-left">
                        <dt>XXX物流公司</dt>
                        <dd>您好，我是XXX物流公司，想加您为司机，希望能跟您合作愉快，达到共赢</dd>
                      </dl>
                      <button class="btn btn-warning  pull-right">同意</button>
                      <button class="btn  pull-right">忽略</button>
                      <div class="clearfix"></div>
                    </li>
                    <li>
                      <span class="pull-left"><img src="../../img/gray.png" alt=""></span>
                      <dl class="pull-left">
                        <dt>XXX物流公司</dt>
                        <dd>您好，我是XXX物流公司，想加您为司机，希望能跟您合作愉快，达到共赢</dd>
                      </dl>
                      <button class="btn btn-warning  pull-right">同意</button>
                      <button class="btn  pull-right">忽略</button>
                      <div class="clearfix"></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="profile">
                <div class="tab1-text">
                  <button class="btn btn-default">全部消息</button>
                  <button class="btn btn-default">未读消息</button>
                  <button class="btn btn-default">已读消息</button>
                  <button class="btn btn-default pull-right">清空已读消息</button>
                  <ul class="list-unstyled">
                    <li>
                      <span class="pull-left"><img src="../../img/yel.png" alt=""></span>
                      <dl class="pull-left">
                        <dt>XXX物流公司</dt>
                        <dd>您好，我是XXX物流公司，想加您为司机，希望能跟您合作愉快，达到共赢</dd>
                      </dl>
                      <button class="btn btn-warning  pull-right">同意</button>
                      <button class="btn  pull-right">忽略</button>
                      <div class="clearfix"></div>
                    </li>
                    <li>
                      <span class="pull-left"><img src="../../img/yel.png" alt=""></span>
                      <dl class="pull-left">
                        <dt>XXX物流公司</dt>
                        <dd>您好，我是XXX物流公司，想加您为司机，希望能跟您合作愉快，达到共赢</dd>
                      </dl>
                      <button class="btn btn-warning  pull-right">同意</button>
                      <button class="btn  pull-right">忽略</button>
                      <div class="clearfix"></div>
                    </li>
                    <li>
                      <span class="pull-left"><img src="../../img/gray.png" alt=""></span>
                      <dl class="pull-left">
                        <dt>XXX物流公司</dt>
                        <dd>您好，我是XXX物流公司，想加您为司机，希望能跟您合作愉快，达到共赢</dd>
                      </dl>
                      <button class="btn btn-warning  pull-right">同意</button>
                      <button class="btn  pull-right">忽略</button>
                      <div class="clearfix"></div>
                    </li>
                    <li>
                      <span class="pull-left"><img src="../../img/gray.png" alt=""></span>
                      <dl class="pull-left">
                        <dt>XXX物流公司</dt>
                        <dd>您好，我是XXX物流公司，想加您为司机，希望能跟您合作愉快，达到共赢</dd>
                      </dl>
                      <button class="btn btn-warning  pull-right">同意</button>
                      <button class="btn  pull-right">忽略</button>
                      <div class="clearfix"></div>
                    </li>
                  </ul>
                </div>

              </div>
              <div role="tabpanel" class="tab-pane" id="messages">
                <div class="tab1-text">
                  <button class="btn btn-default">全部消息</button>
                  <button class="btn btn-default">未读消息</button>
                  <button class="btn btn-default">已读消息</button>
                  <button class="btn btn-default pull-right">清空已读消息</button>
                  <ul class="list-unstyled">
                    <li>
                      <span class="pull-left"><img src="../../img/yel.png" alt=""></span>
                      <dl class="pull-left">
                        <dt>XXX物流公司</dt>
                        <dd>您好，我是XXX物流公司，想加您为司机，希望能跟您合作愉快，达到共赢</dd>
                      </dl>
                      <button class="btn btn-warning  pull-right">同意</button>
                      <button class="btn  pull-right">忽略</button>
                      <div class="clearfix"></div>
                    </li>
                    <li>
                      <span class="pull-left"><img src="../../img/yel.png" alt=""></span>
                      <dl class="pull-left">
                        <dt>XXX物流公司</dt>
                        <dd>您好，我是XXX物流公司，想加您为司机，希望能跟您合作愉快，达到共赢</dd>
                      </dl>
                      <button class="btn btn-warning  pull-right">同意</button>
                      <button class="btn  pull-right">忽略</button>
                      <div class="clearfix"></div>
                    </li>
                    <li>
                      <span class="pull-left"><img src="../../img/gray.png" alt=""></span>
                      <dl class="pull-left">
                        <dt>XXX物流公司</dt>
                        <dd>您好，我是XXX物流公司，想加您为司机，希望能跟您合作愉快，达到共赢</dd>
                      </dl>
                      <button class="btn btn-warning  pull-right">同意</button>
                      <button class="btn  pull-right">忽略</button>
                      <div class="clearfix"></div>
                    </li>
                  </ul>
                </div>                
               
        
              </div>
            </div>      
        </div>           
    </main>

	<object style="border:0px;" type="text/x-scriptlet" data="../footer/foot.html" width=100% height=80></object> 


</body>
</html>