<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>建筑企业列表</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--bootstrap-->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <!--default-js-->
    <script src="../../js/jquery-2.1.4.min.js"></script>
    <!--bootstrap-js-->
    <script src="../../js/bootstrap.min.js"></script>

    <link href="../../css/buildShow/build-show.css" rel="stylesheet" type="text/css">

  
<style type="text/css">
</style>
</head>
<body >

<!--头-->
<object style="border:0px" type="text/x-scriptlet" data="../header/platform-head.html" width=100% height=210></object>
<!-- 	<object style="border:0px" type="text/x-scriptlet" data="./main/bind-driver-list.html" width=100% height=740></object> -->
    <main>
      <div>
        <div class="title">
          <p>建筑企业信息</p>
        </div>
        <div class="construct">
            <img src="" alt="">
            <div class="construct-text">
              <a href="build-show-detail.html"><h5>XXXXX建筑有限公司</h5></a>
              <p>河南省-驻马店市-驿城区 驿城大道XXXXXXXXXXXXXXX号</p>                      
              <p>联系人： &nbsp张三&nbsp 15523456789</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="construct">
            <img src="" alt="">
            <div class="construct-text">
              <a href="build-show-detail.html"><h5>XXXXX建筑有限公司</h5></a>
              <p>河南省-驻马店市-驿城区 驿城大道XXXXXXXXXXXXXXX号</p>                      
              <p>联系人： &nbsp张三&nbsp 15523456789</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="construct">
            <img src="" alt="">
            <div class="construct-text">
              <a href="build-show-detail.html"><h5>XXXXX建筑有限公司</h5></a>
              <p>河南省-驻马店市-驿城区 驿城大道XXXXXXXXXXXXXXX号</p>                      
              <p>联系人： &nbsp张三&nbsp 15523456789</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <nav class="text-center">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
      </div>
      
    </main>

<!--底部-->
<object style="border:0px" type="text/x-scriptlet" data="../footer/platform-footer.html" width=100% height=245></object>
    <script src="../../js/jquery-1.12.0.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>

</body>
</html>