<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>禁行公告详情</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--bootstrap-->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <!--default-js-->
    <script src="../../js/jquery-2.1.4.min.js"></script>
    <!--bootstrap-js-->
    <script src="../../js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../css/leftbar.css">
    <link rel="stylesheet" href="../../css/govNotice/ban-notice-detail.css">
<style type="text/css">

</style>
</head>
<body >

<!--头-->
<object style="border:0px" type="text/x-scriptlet" data="../header/platform-head.html" width=100% height=210></object>

<!-- 	<object style="border:0px" type="text/x-scriptlet" data="./main/vehical-list.html" width=100% height=740></object> -->
    <main>
        <div class="sidebar">
            <h4>政务公告</h4>
            <dl>
              <dd><a href="gov-intro.html">政务介绍</a></dd>
              <dd><a href="ban-notice-list.html">禁行公告</a></dd>
              <dd><a href="pro-notice-list.html">项目公告</a></dd>
              <dd><a href="enter-rate.html">企业评级</a></dd>
              <dd><a href="driver-rate.html">司机评级</a></dd>
              <dd><a href="vehical-rate.html">车辆评级</a></dd>
            </dl>
        </div>
       
        <div class="mainright">
            <div class="info">
                <div class="title">
                    <p>禁行公告</p>
                </div>
                <div class="detail">
                    <p>驻马店市第xx号建筑垃圾运输线路禁行公告</p>
                    <p class="text-right">2016年4月10月更新</p>
                    <hr >
                    <dl class="dl-horizontal">
                        <dt>禁行时间：</dt>
                        <dd>20:00---08:00</dd>
                        <dt>禁行路线：</dt>
                        <dd>铜山大道以东，雪松大道以北，天中山大道以西，金雀路以南</dd>
                        <dt>正文：</dt>
                        <dd>因避免扰乱群众休息，保持室内卫生，舒缓交通设禁路线如图</dd>
                        <div class="map">
                            <img src="../../img/banmap.png" alt="">
                        </div>
                    </dl>
                </div>
                
            </div>

            <!-- page -->
  
        </div>           
    </main>

<!--底部-->
<object style="border:0px" type="text/x-scriptlet" data="../footer/platform-footer.html" width=100% height=245></object>
    <script src="../../js/jquery-1.12.0.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>

</body>
</html>