<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>政务介绍</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--bootstrap-->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <!--default-js-->
    <script src="../../js/jquery-2.1.4.min.js"></script>
    <!--bootstrap-js-->
    <script src="../../js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../css/leftbar.css">
    <link rel="stylesheet" href="../../css/govNotice/gov-intro.css">
<style type="text/css">

</style>
</head>
<body >

<!--头-->
<object style="border:0px" type="text/x-scriptlet" data="../header/platform-head.html" width=100% height=210></object>

<!-- 	<object style="border:0px" type="text/x-scriptlet" data="./main/vehical-list.html" width=100% height=740></object> -->
    <main>
        <div class="sidebar">
            <h4>政务公告</h4>
            <dl>
              <dd><a href="gov-intro.html">政务介绍</a></dd>
              <dd><a href="ban-notice-list.html">禁行公告</a></dd>
              <dd><a href="pro-notice-list.html">项目公告</a></dd>
              <dd><a href="enter-rate.html">企业评级</a></dd>
              <dd><a href="driver-rate.html">司机评级</a></dd>
              <dd><a href="vehical-rate.html">车辆评级</a></dd>
            </dl>
        </div>
       
        <div class="mainright">
            <div class="info">
                <div>
                    <p>政务介绍信息</p>
                </div>
                
                
            </div>

            <!-- page -->
  
        </div>           
    </main>

<!--底部-->
<object style="border:0px" type="text/x-scriptlet" data="../footer/platform-footer.html" width=100% height=245></object>
    <script src="../../js/jquery-1.12.0.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>

</body>
</html>