<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>项目公告列表</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--bootstrap-->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <!--default-js-->
    <script src="../../js/jquery-2.1.4.min.js"></script>
    <!--bootstrap-js-->
    <script src="../../js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../css/leftbar.css">
    <link rel="stylesheet" href="../../css/govNotice/ban-notice-list.css">
<style type="text/css">

</style>
</head>
<body >

<!--头-->
<object style="border:0px" type="text/x-scriptlet" data="../header/platform-head.html" width=100% height=210></object>

<!-- 	<object style="border:0px" type="text/x-scriptlet" data="./main/vehical-list.html" width=100% height=740></object> -->
    <main>
        <div class="sidebar">
            <h4>政务公告</h4>
            <dl>
              <dd><a href="gov-intro.html">政务介绍</a></dd>
              <dd><a href="ban-notice-list.html">禁行公告</a></dd>
              <dd><a href="pro-notice-list.html">项目公告</a></dd>
              <dd><a href="enter-rate.html">企业评级</a></dd>
              <dd><a href="driver-rate.html">司机评级</a></dd>
              <dd><a href="vehical-rate.html">车辆评级</a></dd>
            </dl>
        </div>
       
        <div class="mainright">
            <div class="info">
                <div class="title">
                    <p>项目公告</p>
                    <label for="" class="select">
                        排序：<select name="" id="">
                                    <option value="">更新时间</option>
                                    <option value="">浏览次数</option>
                                    <option value="">公告名称</option>
                                </select>                               
                    </label>
                    <div class="radio-box">
                        <input type="radio" name="order" id="up" >
                        <label for="up">↑</label>
                        <input type="radio" name="order" id="down">
                        <label for="down">↓</label>
                    </div>

                </div>
                <ul class="list-unstyled">
                    <li>
                        <a href="pro-notice-detail.html">关于驻马店市建筑垃圾综合处理项目招商公告</a>
                        <span>2016年4月10更新</span>
                        <p>驿城区xx路以南，xx路以西，xx以北，xx以东，从2016年4月21日起，19：:00--次日凌晨建筑垃圾车禁行</p>
                    </li>
                    <li>
                        <a href="pro-notice-detail.html">关于驻马店市建筑垃圾综合处理项目招商公告</a>
                        <span>2016年4月10更新</span>
                        <p>驿城区xx路以南，xx路以西，xx以北，xx以东，从2016年4月21日起，19：:00--次日凌晨建筑垃圾车禁行</p>
                    </li>
                    <li>
                        <a href="pro-notice-detail.html">关于驻马店市建筑垃圾综合处理项目招商公告</a>
                        <span>2016年4月10更新</span>
                        <p>驿城区xx路以南，xx路以西，xx以北，xx以东，从2016年4月21日起，19：:00--次日凌晨建筑垃圾车禁行</p>
                    </li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                
                
            </div>

            <!-- page -->
  
        </div>           
    </main>

<!--底部-->
<object style="border:0px" type="text/x-scriptlet" data="../footer/platform-footer.html" width=100% height=245></object>
    <script src="../../js/jquery-1.12.0.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>

</body>
</html>