<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>项目公告详情</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--bootstrap-->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <!--default-js-->
    <script src="../../js/jquery-2.1.4.min.js"></script>
    <!--bootstrap-js-->
    <script src="../../js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../css/leftbar.css">
    <link rel="stylesheet" href="../../css/govNotice/pro-notice-detail.css">
<style type="text/css">

</style>
</head>
<body >

<!--头-->
<object style="border:0px" type="text/x-scriptlet" data="../header/platform-head.html" width=100% height=210></object>

<!-- 	<object style="border:0px" type="text/x-scriptlet" data="./main/vehical-list.html" width=100% height=740></object> -->
    <main>
        <div class="sidebar">
            <h4>政务公告</h4>
            <dl>
              <dd><a href="gov-intro.html">政务介绍</a></dd>
              <dd><a href="ban-notice-list.html">禁行公告</a></dd>
              <dd><a href="pro-notice-list.html">项目公告</a></dd>
              <dd><a href="enter-rate.html">企业评级</a></dd>
              <dd><a href="driver-rate.html">司机评级</a></dd>
              <dd><a href="vehical-rate.html">车辆评级</a></dd>
            </dl>
        </div>
       
        <div class="mainright">
            <div class="info">
                <div class="title">
                    <p>项目公告</p>
                </div>
                <div class="detail">
                    <p>驻马店市建筑垃圾综合处理项目招商公告</p>
                    <p class="text-right">2016年4月10月更新</p>
                    <hr >
                    <dl class="dl-horizontal">
                        <dt>标讯类别：</dt>
                        <dd>国内招标</dd>
                        <dt>资金来源：</dt>
                        <dd>其他</dd>
                        <dt>所属地区：</dt>
                        <dd>河南</dd>
                        <h5>驻马店市建筑垃圾综合处理项目招商公告：</h5>
                        <h5>一、项目概况</h5>
                        <dt>项目名称：</dt>
                        <dd>驻马店市建筑垃圾综合处理项目</dd>
                        <dt>招商编号：</dt>
                        <dd>0635-1520N328</dd>
                        <dt>建设规模：</dt>
                        <dd>日处理建筑垃圾1600吨（主要为砖渣、水泥砌块等）不包括建筑工地产生的基坑土。
建设内容：新建项目可研、初步设计、施工图设计和破碎筛分车间、压制砖生产车间、厂区内的土建工程、设备
及安装调试等所含内容。</dd>
                        <dt>服务范围：</dt>
                        <dd>中心城区规划区内</dd>
                        <dt>项目位置：</dt>
                        <dd>位于驻马店市产业集聚区金桥办事处境内（建设大道与金桥大道交叉口东北角，南方钢厂南侧），规划占地约195亩（一期约64亩）</dd>
                        <h5>二、主要招商条件</h5>
                        
                        <dt>1、招商内容：</dt>
                        <dd>驻马店市建筑垃圾综合处理项目投资、建设、运营特许经营权和建筑垃圾清运经营权。</dd>
                        <dt>2、投资建设运营模式：</dt>
                        <dd>项目按照PPP模式，采用BOO（建设-拥有-运营）的方式进行建筑垃圾处理项目建设、拥、运营和建筑垃圾运输。</dd>                      
                    </dl>
                </div>
                
            </div>

            <!-- page -->
  
        </div>           
    </main>

<!--底部-->
<object style="border:0px" type="text/x-scriptlet" data="../footer/platform-footer.html" width=100% height=245></object>
    <script src="../../js/jquery-1.12.0.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>

</body>
</html>