<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>车辆评价结果</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--bootstrap-->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <!--default-js-->
    <script src="../../js/jquery-2.1.4.min.js"></script>
    <!--bootstrap-js-->
    <script src="../../js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../css/leftbar.css">
    <link rel="stylesheet" href="../../css/govNotice/driver-rate.css">   
<style type="text/css">
</style>
</head>
<body >

<!--头-->
<object style="border:0px" type="text/x-scriptlet" data="../header/platform-head.html" width=100% height=210></object>
<!-- 	<object style="border:0px" type="text/x-scriptlet" data="./main/bind-driver-list.html" width=100% height=740></object> -->
    <main>
        <div class="sidebar">
            <h4>政务公告</h4>
            <dl>
              <dd><a href="gov-intro.html">政务介绍</a></dd>
              <dd><a href="ban-notice-list.html">禁行公告</a></dd>
              <dd><a href="pro-notice-list.html">项目公告</a></dd>
              <dd><a href="enter-rate.html">企业评级</a></dd>
              <dd><a href="driver-rate.html">司机评级</a></dd>
              <dd><a href="vehical-rate.html">车辆评级</a></dd>
            </dl>
        </div>

        <div class="mainright">
            <div class="info">
                <p>车辆评定结果</p>
                <form class="form-inline pull-right">
                    <div class="form-group">
                        <label for="exampleInputName2" class="form-lable">关键字：</label>
                            <input type="text" class="search-text" id="">
                            <button type="submit" class="search-btn"></button>
                    </div>       
                </form>
                <div class="clearfix"></div>  
            </div>
            <div class="table-info">
                <table>
                    <thead>      
                      <td width="50">NO.</td>
                      <td width="120">车牌号</td>
                      <td width="220">所属公司</td>
                      <td width="80">车辆卫生</td>
                      <td width="80">文明驾驶</td>
                      <td width="80">抛洒举报</td>
                      <td width="80">查处</td>
                      <td width="80">总分</td>
                    </thead>
                    <tr>
                      <td>1</td>
                      <td>豫Q52456</td>
                      <td>驻马店绿地有限公司</td>
                      <td>6</td>
                      <td>6</td>
                      <td>6</td>
                      <td>6</td>
                      <td>24</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>豫Q52456</td>
                      <td>驻马店绿地有限公司</td>
                      <td>6</td>
                      <td>6</td>
                      <td>6</td>
                      <td>6</td>
                      <td>24</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>豫Q52456</td>
                      <td>驻马店绿地有限公司</td>
                      <td>6</td>
                      <td>6</td>
                      <td>6</td>
                      <td>6</td>
                      <td>24</td>
                    </tr>
                </table>
            </div>
        </div>          
    </main>

<!--底部-->
<object style="border:0px" type="text/x-scriptlet" data="../footer/platform-footer.html" width=100% height=245></object>
    <script src="../../js/jquery-1.12.0.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>

</body>
</html>