<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>停车场信息查看详情</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--bootstrap-->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <!--default-js-->
    <script src="../../js/jquery-2.1.4.min.js"></script>
    <!--bootstrap-js-->
    <script src="../../js/bootstrap.min.js"></script>

    <link href="../../css/common.css" rel="stylesheet" type="text/css">
</head>
<body >
<!--头-->
<object style="border:0px" type="text/x-scriptlet" data="../header/head.html" width=100% height=240></object>
<!--body-->
<div style="width:1206px;margin:0 auto">
    <!--左菜单-->
    <object  data="../leftMenu/parkingLeft.html" width=260px height=840></object>
    <!--主内容-->
    <div style="width:935px;height:1000px;float: right">
        <div class="parkBasic">
            <div class="parkBg">
                <span>停车场基本信息</span>
            </div>
            <div class="basic">
                <span style="color: #ff6600;margin-left:63px;"></span><span>公司名称:</span>
                <span>xxx公司</span>
                <span style="color: #ff6600;margin-left:83px;"></span><span>营业状态:</span>
                <span>营业中</span>
            </div>
            <div class="basic">
                <span style="color: #ff6600;margin-left: 47px;"></span><span>停车场名称:</span>
                <span>xxx停车场</span>
                <span style="color: #ff6600;margin-left:85px;"></span><span>负责人:</span>
                <span>老李</span>
                <span style="color: #ff6600;margin-left:70px;"></span><span>负责人电话:</span>
                <span>15522664789</span>
            </div>
            <div class="basic">
                <span style="color: #ff6600;margin-left: 38px;"></span><span> 停车数量(辆):</span>
                <span>2800.0</span>
                <span style="color: #ff6600;margin-left:63px;"></span><span> 占地面积(㎡):</span>
                <span>1000.0</span>
            </div>
            <div class="basic">
                <span style="color: #ff6600;margin-left:90px;"></span><span>地址:</span>
                <span>河南省-驻马店市-驿城区-中山路</span>
            </div>
            <div class="basic2">
                <span style="margin-left:49px;">停车位类型:</span>

                <span>渣土清运车</span>

            </div>
            <div class="basic2">
                <span style="margin-left:50px;">停车场介绍:</span>
            </div>
            <textarea></textarea>
            <div class="basic2">
                <span style="margin-left:50px">停车场照片:</span>
            </div>
            <img src="../../img/picture4.png" style="margin-left: 128px;margin-top: -30px;">
            <img src="../../img/picture4.png" style="margin-left: 128px;margin-top: -30px;">
            <div class="anNiu"style="margin-left:420px;margin-top:70px">
                <input type="button" value="　返回　" >
            </div>
        </div>
    </div>

</div>
<!--脚-->
<object type="text/x-scriptlet" data="../footer/foot.html" width=100% height=80></object>


</body>
</html>