<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业注册</title>
    <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport">
    <link href="../../css/style.css" rel="stylesheet">
    <style>

    </style>
</head>
<body>
<header style="height:90px;width:1000px;margin: 0 auto;">
    <img src="../../img/logo.png " width="128px" height="90px">
    <div style="font-size:20px;margin-top: -60px;margin-left: 130px;">
        <span >欢迎注册</span>
    </div>
</header>

<div style="background: #f5f5f5;width: 100%;height:1000px;">
    <div style="height:30px;width: 1206px;margin:0px auto;padding-top:10px;text-align: right;">
        <p>我已注册，现在就　<a href="../../login.html" style="color: #ff6600;">登录</a></p>
    </div>
    <div class="register-bg" style="height:900px;" >
        <div style="margin-top:20px;width: 700px;height:30px;margin:0px auto;padding-top: 30px;">
            <span style="font-size: 20px;">会员注册</span>
        </div>
        <div style=" width:600px;height:400px;margin:0px auto;">
            <div class="register">
                <label><span style="color: red">*</span>单位名称：</label>
                <input type="text" style="width:235px;height:30px"  name="userId"/>
            </div>
            <div class="register">
                <label><span style="color: red">*</span>法定代表人：</label>
                <input type="text" style="width:235px;height:30px"  name="userId"/>
            </div>
            <div class="register">
                <label ><span style="color: red">*</span>单位地址：</label>
                <select type="password" style="width:150px;height:36px" placeholder="">
                    <option>请选择</option>
                    <option  value="1">吉林省</option>
                    <option  value="2">辽宁省</option>
                </select>
                <select type="password" style="width:150px;height:36px" placeholder="">
                    <option>请选择</option>
                    <option  value="1">沈阳市</option>
                    <option  value="2">鞍山市</option>
                </select>
                <select type="password" style="width:150px;height:36px" placeholder="">
                    <option>请选择</option>
                    <option  value="1">和平区</option>
                    <option  value="2">铁西区</option>
                </select>
            </div>
            <div class="register">
                <label ><span style="color: red">*</span>详细地址：</label>
                <input type="password" style="width:235px;height:30px" placeholder=""/>
                <div style="display: block;margin-top: -40px;margin-left:400px;">
                <img src="../../img/picture3.png" style="padding-top:5px;">
                <span><a href="#" style="color: #ff6600;text-decoration: none;">地图选点</a></span>
                </div>
            </div>
            <div class="register">
                <label><span style="color: red">*</span>联系人姓名：</label>
                <input type="password" style="width:235px;height:30px" placeholder=""/>
            </div>
            <div class="register">
                <label ><span style="color: red">*</span>固定电话：</label>
                <input type="password" style="width:235px;height:30px"  placeholder=""/>
            </div>
            <div class="register">
                <label ><span style="color: red">*</span>验证手机：</label>
                <input type="password" style="width:235px;height:30px" placeholder=""/>
            </div>
            <div class="register">
                <label ><span style="color: red">*</span>短信验证码：</label>
                <input type="text" style="width:130px;height:30px" name="password" placeholder=""/>
                <input type="button" value="获取验证码信息" style="width:102px;height:36px; border: 1px solid #ffb000; background-color: #ffb000;color: #ffffff;"/>
            </div>
            <div class="register">
                <label ><span style="color: red">*</span>联系人邮箱：</label>
                <input type="password" style="width:235px;height:30px"  placeholder=""/>
            </div>
            <div class="register">
                <label ><span style="color: red">*</span>行业：</label>
                <input type="password" style="width:235px;height:30px"  placeholder="单击选择行业类型"/>
            </div>

            <div class="register">
                <label ></label>
                <input type="checkbox"name="userType"/>
                <span style="margin-right: 15px;font-size: 12px;" >我已阅读并接受<span style="color: #f60;">《必然科技相关法律法规》</span></span>
            </div>
            <div class="register-a">
                <a href="register_complete.html" text-decoration: none;><input  type="submit" value="立即注册" id="send"/></a>
            </div>
        </div>
    </div>
</div>

<!--foot-->
<footer style="border-top: 2px solid #309bbe;width: 100%;height:80px;">
    <div style="width: 700px;margin: 0px  auto;color: #333;text-align: center;font-size: 12px;padding-top: 10px;line-height: 20px;">
        <p> 平台介绍　　|　　大事记　　|　　公司动态　　|　　媒体报告　　|　　联系我们　　|　　物流官网</p>
        <p>Copyright © 必然科技物流平台 All rights reserved. 京ICP备14032800号-1-2-1-20</p>
        <p>物流专线sitemap 物流公司sitemap 物流专线sitemap-xml 物流公司sitemap-xml </p>
    </div>
</footer>
</body>
</html>