<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册完成</title>
    <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport">
    <link href="../../css/style.css" rel="stylesheet">
    <style>

    </style>
</head>
<body>
<header style="height:90px;width:1000px;margin: 0 auto;">
    <img src="../../img/logo.png " width="128px" height="90px">
    <div style="font-size:20px;margin-top: -60px;margin-left: 130px;">
        <span >欢迎注册</span>
    </div>
</header>

<div style="background: #f5f5f5;width: 100%;height:650px;">
    <div style="height:30px;width: 1206px;margin:0px auto;padding-top:10px;text-align: right;">
      
    </div>
    <div  class="register-bg"  >
        <div style="width:450px;height: 250px;padding-top:80px;margin:0 auto">
            <img src="../../img/finish.jpg" height="210" width="280">
            <p style="font-size:20px;margin-top: -100px;margin-left:280px;">恭喜注册完成！</p>
        </div>
       <a href="login.jsp"><p style="margin-left:300px;">注册已完成，3秒后自动登录...（点击直接跳转到登录界面）</p></a> 
    </div>
</div>

<!--foot-->
<footer style="border-top: 2px solid #309bbe;width: 100%;height:80px;">
    <div style="width: 700px;margin: 0px  auto;color: #333;text-align: center;font-size: 12px;padding-top: 10px;line-height: 20px;">
        <p> 平台介绍　　|　　大事记　　|　　公司动态　　|　　媒体报告　　|　　联系我们　　|　　物流官网</p>
        <p>Copyright © 必然科技物流平台 All rights reserved. 京ICP备14032800号-1-2-1-20</p>
        <p>物流专线sitemap 物流公司sitemap 物流专线sitemap-xml 物流公司sitemap-xml </p>
    </div>
</footer>
</body>
</html>