<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>车辆绑定司机列表</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--bootstrap-->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <!--default-js-->
    <script src="../../js/jquery-2.1.4.min.js"></script>
    <!--bootstrap-js-->
    <script src="../../js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../css/leftbar.css">
    <link rel="stylesheet" href="../../css/bind-driver-list.css">   
<style type="text/css">
</style>
</head>
<body >

	<object style="border:0px" type="text/x-scriptlet" data="../header/head.html" width=100% height=240></object>

<!-- 	<object style="border:0px" type="text/x-scriptlet" data="./main/bind-driver-list.html" width=100% height=740></object> -->
    <main>
        <iframe border=0 frameborder=0 width=250 height=500 marginheight=0 marginwidth=0 scrolling=no src="../LeftMenu/vehicalserve-left.html">
        </iframe>          
        <div class="mainright">
            <div class="info">
                <p>绑定司机列表</p>
                <form class="form-inline pull-right">
                    <div class="form-group">
                        <label for="exampleInputName2" class="form-lable">关键字：</label>
                            <input type="text" class="search-text" id="">
                            <button type="submit" class="search-btn"></button>
                    </div>       
                </form>
                <div class="clearfix"></div>  
            </div>
            <div class="table-info">
                <table>
                    <thead>      
                      <td width="50">NO.</td>
                      <td width="120">车牌号</td>
                      <td width="220">车辆描述</td>
                      <td width="105">司机</td>
                      <td width="80">状态</td>
                    </thead>
                    <tr>
                      <td>1</td>
                      <td><a href="">辽A22233</a></td>
                      <td>渣土清运车&nbsp30立方米&nbsp60吨</td>
                      <td>王东</td>
                      <td>可用</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td><a href="">辽A22233</a></td>
                      <td>渣土清运车&nbsp30立方米&nbsp60吨</td>
                      <td>王东</td>
                      <td>可用</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td><a href="">辽A22233</a></td>
                      <td>渣土清运车&nbsp30立方米&nbsp60吨</td>
                      <td>孙东</td>
                      <td>不可用</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td><a href="">辽A22233</a></td>
                      <td>渣土清运车&nbsp30立方米&nbsp60吨</td>
                      <td>孙东</td>
                      <td>不可用</td>
                    </tr>  
                    <tr>
                      <td>5</td>
                      <td><a href="">辽A22233</a></td>
                      <td>渣土清运车&nbsp30立方米&nbsp60吨</td>
                      <td>孙东</td>
                      <td>不可用</td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td><a href="">辽A22233</a></td>
                      <td>渣土清运车&nbsp30立方米&nbsp60吨</td>
                      <td>孙东</td>
                      <td>不可用</td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td><a href="">辽A22233</a></td>
                      <td>渣土清运车&nbsp30立方米&nbsp60吨</td>
                      <td>孙东</td>
                      <td>不可用</td>
                    </tr>
                </table>
            </div>
        </div>          
    </main>

	<object style="border:0px;" type="text/x-scriptlet" data="../footer/foot.html" width=100% height=80></object> 


</body>
</html>