<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>车辆信息查看</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--bootstrap-->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <!--default-js-->
    <script src="../../js/jquery-2.1.4.min.js"></script>
    <!--bootstrap-js-->
    <script src="../../js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../css/leftbar.css">
    <link rel="stylesheet" href="../../css/vehical-info-lookup.css">   
<style type="text/css">
</style>
</head>
<body >

	<object style="border:0px" type="text/x-scriptlet" data="../header/head.html" width=100% height=240></object>

<!-- 	<object style="border:0px" type="text/x-scriptlet" data="./main/vehical-info-lookup.html" width=100% height=740></object> -->
    <main>
        <iframe border=0 frameborder=0 width=250 height=500 marginheight=0 marginwidth=0 scrolling=no src="../LeftMenu/vehicalserve-left.html">
        </iframe>        
        <div class="mainright">
            <div class="info">
                <p>车辆信息查看</p>
                <div class="er-box"><img src="../../img/er.png" alt=""></div>
                <dl class="dl-horizontal mydl">
                    <dt>车牌号：</dt>
                    <dd>豫A12345</dd>
                    <dt>当前司机：</dt>
                    <dd>王永强</dd>
                    <dt>车辆类型：</dt>
                    <dd>自卸货车</dd>
                    <dt>品牌：</dt>
                    <dd>中国重汽</dd>
                    <dt>属性1：</dt>
                    <dd>30立方米</dd>
                    <dt>属性2：</dt>
                    <dd>60吨</dd>
                    <dt>车辆状态：</dt>
                    <dd>可用</dd>
                    <dt>审核状态：</dt>
                    <dd>通过审核</dd>
                    <dt>车辆识别代码：</dt>
                    <dd>ZDS654812132</dd>
                </dl>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label"><span class="rednode">*</span>&nbsp&nbsp行使证照片：</label>
                        <div class="col-sm-3">
                            <div class="img-box"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group" style="margin-top:40px;">
                        <label for="" class="col-sm-2 control-label"><span class="rednode">&nbsp&nbsp*</span>&nbsp&nbsp车辆照片：</label>
                        <div class="col-sm-9">
                            <div class="img-box"></div>
                            <div class="img-box"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-warning">保存</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
            
            </div> 
        </div>     
    </main>
	<object style="border:0px;" type="text/x-scriptlet" data="../footer/foot.html" width=100% height=80></object> 


</body>
</html>