main{
	width: 1206px;
	margin: 0 auto;
	padding: 0;

}


.mainright{
	width: 925px;
	float: right;
	margin-bottom: 30px;
}
.mainright p{
	background: #f0f0f0;
	height: 40px;
	line-height: 40px;
	margin-bottom: 40px;
	font-weight: bolder;
	padding-left: 20px;
}
.info{
	width: 100%;
	padding-bottom: 50px;
	border: 1px solid #dcdcdc;

}
.chose{
	display: inline-block;
	position: relative;
	color: #f60;


}
.rednode{
	color: red;
}
.btn{
	width: 150px;
	margin-top: 20px;
	margin-left: 10px;
	background-color: #f60;
}
.chose a{
	color: #f60;
	text-decoration: none;
}
