main{
	width: 1206px;
	margin: 0 auto;
	padding: 0;

}


.mainright{
	width: 925px;
	float: right;
	border: 1px solid #dcdcdc;
	margin-bottom: 30px;
}
.mainright p{
	padding: 40px 0 40px 40px;
	line-height: 30px;
}
.mainright dl{
	margin-top: 50px;
}
.mainright dt,dd{
	height: 50px;
}