<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>目录</title>
	<style type="text/css">
		h2{
			font-size: 26px;
		}
		ul{
			list-style: none;

		}
		li{
			width: 320px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			border-bottom: 1px dashed #dcdcdc;
		}
		.part{
			border: 1px solid gray;
			width: 420px;
			margin: 15px auto;
		}
		a{
			text-decoration: none;
		}
	</style>
</head>
<body>
	<div class="part">
		<h2>注册-登陆</h2>
		<ul>
			<li><a href="register/login.html" target="_blank">登陆</a></li>
			<li><a href="register/register1.html" target="_blank">注册</a></li>	
			<li><a href="register/enterprise_register.html" target="_blank">企业注册</a></li>
			<li><a href="register/personal_register.html" target="_blank">个人注册</a></li>	
			
			<li><a href="register/register_complete.html" target="_blank">注册完成</a></li>			
		</ul>
	</div>
	<div class="part">
		<h2>密码找回</h2>
		<ul>			
			<li><a href="password/password_back.html" target="_blank">密码找回-1</a></li>
			<li><a href="password/password_back2.html" target="_blank">密码找回-2</a></li>	
		</ul>
	</div>
	<div class="part">
		<h2>个人中心</h2>
		<ul>			
			<li><a href="Personal_Center/person-unit-info.html" target="_blank">个人单位信息</a></li>
			<li><a href="Personal_Center/person-info-main.html" target="_blank">个人基础信息维护</a></li>	
			<li><a href="Personal_Center/person-docu-info.html" target="_blank">个人证件信息</a></li>
			<li><a href="Personal_Center/person-sfe-set1.html" target="_blank">个人安全设置-1</a></li>
			<li><a href="Personal_Center/person-sfe-set2.html" target="_blank">个人安全设置-2</a></li>
			<li><a href="Personal_Center/person-sfe-set3.html" target="_blank">个人安全设置-3</a></li>
			<li><a href="Personal_Center/person-sfe-set.html" target="_blank">个人安全设置</a></li>
			<li><a href="Personal_Center/person-accont-set.html" target="_blank">个人账号绑定设置</a></li>
			<li><a href="Personal_Center/person-info-lookup.html" target="_blank">个人信息查询</a></li>
		</ul>
	</div>
	<div class="part">
		<h2>单位信息管理</h2>
		<ul>			
			<li><a href="UnitinfoManage/unit-base-info.html" target="_blank">单位基础信息维护</a></li>
			<li><a href="UnitinfoManage/unit-intr-info.html" target="_blank">单位简介信息维护</a></li>	
			<li><a href="UnitinfoManage/unit-baseinfo-lookup.html" target="_blank">企业基本信息维护</a></li>
			<li><a href="UnitinfoManage/unit-memberinfo-lookup.html" target="_blank">单位角色信息查看</a></li>
			<li><a href="UnitinfoManage/unit-docu-info.html" target="_blank">单位验证信息维护</a></li>
			<li><a href="UnitinfoManage/unit-member-info.html" target="_blank">单位角色成员管理</a></li>
			<li><a href="UnitinfoManage/unit-addmember-info.html" target="_blank">新增成员</a></li>
		</ul>
	</div>
	<div class="part">
		<h2>车辆服务</h2>
		<ul>			
			<li><a href="VehicalServe/vehical-list.html" target="_blank">车辆管理列表</a></li>
			<li><a href="VehicalServe/add-vehical.html" target="_blank">新増车辆</a></li>	
			<li><a href="VehicalServe/edit-vehical.html" target="_blank">编辑车辆</a></li>
			<li><a href="VehicalServe/bind-driver-list.html" target="_blank">车辆绑定司机列表</a></li>
			<li><a href="VehicalServe/vehical-info-lookup.html" target="_blank">车辆信息查看</a></li>
			<li><a href="VehicalServe/add-driver.html" target="_blank">添加司机(列表)</a></li>
		</ul>
	</div>
	<div class="part">
		<h2>地址服务</h2>
		<ul>			
			<li><a href="AddressServe/common-address-list.html" target="_blank">常用地址列表</a></li>
			<li><a href="AddressServe/noentry-info-set.html" target="_blank">禁行地址设置</a></li>	
			<li><a href="AddressServe/noentry-info-lookup.html" target="_blank">禁行信息查询</a></li>
			<li><a href="AddressServe/common-address-details.html" target="_blank">常用地址详情</a></li>
		</ul>
	</div>
	<div class="part">
		<h2>停车场管理</h2>
		<ul>			
			<li><a href="parkingManagement/checkParkingDetail.html" target="_blank">停车场信息查看详情</a></li>
			<li><a href="parkingManagement/checkParkingList.html" target="_blank">停车场信息查看列表</a></li>	
			<li><a href="parkingManagement/newParking.html" target="_blank">新增停车场信息</a></li>
			<li><a href="parkingManagement/parkingList.html" target="_blank">停车场列表</a></li>
			<li><a href="parkingManagement/parkingMaintenance.html" target="_blank">停车场信息维护</a></li>
		</ul>
	</div>
	<div class="part">
		<h2>项目管理</h2>
		<ul>			
			<li><a href="projectManagement/checkProjectDetail.html" target="_blank">项目信息查看详情</a></li>
			<li><a href="projectManagement/checkProjectList.html" target="_blank">项目信息查看列表</a></li>	
			<li><a href="projectManagement/newProject.html" target="_blank">新增项目信息</a></li>
			<li><a href="projectManagement/projectList.html" target="_blank">项目列表</a></li>
			<li><a href="projectManagement/projectMaintenance.html" target="_blank">项目信息维护</a></li>
		</ul>
	</div>
	<div class="part">
		<h2>消纳场管理</h2>
		<ul>			
			<li><a href="givenManagement/checkGivenList.html" target="_blank">消纳场信息查看列表</a></li>
			<li><a href="givenManagement/givenDetail.html" target="_blank">消纳场信息详情查看</a></li>	
			<li><a href="givenManagement/givenList.html" target="_blank">消纳场列表</a></li>
			<li><a href="givenManagement/givenMaintenance.html" target="_blank">消纳场信息维护</a></li>
			<li><a href="givenManagement/newGiven.html" target="_blank">新增消纳场信息</a></li>
		</ul>
	</div>
	<div class="part">
		<h2>消息中心</h2>
		<ul>			
			<li><a href="MessageCenter/messages.html" target="_blank">消息</a></li>
			<li><a href="MessageCenter/messages-set.html" target="_blank">设置</a></li>	
	</div>
	<div class="part">
		<h2>政务平台(合约管理)</h2>
		<ul>			
			<li><a href="govPlatform/clear-edit-list.html" target="_blank">清运合约编辑列表</a></li>
			<li><a href="govPlatform/clear-edit-detail-un.html" target="_blank">清运合约编辑详情-未提交</a></li>
			<li><a href="govPlatform/clear-edit-detail-ed.html" target="_blank">清运合约编辑编辑详情-已提交</a></li>
			<li><a href="govPlatform/clear-check-list.html" target="_blank">清运合约查看列表</a></li>
			<li><a href="govPlatform/consum-edit-list.html" target="_blank">消纳合约编辑列表</a></li>
			<li><a href="govPlatform/consum-edit-detail-un.html" target="_blank">消纳合约编辑详情-未提交</a></li>
			<li><a href="govPlatform/consum-edit-detail-ed.html" target="_blank">消纳合约编辑详情-已提交</a></li>
			<li><a href="govPlatform/consum-check-list.html" target="_blank">消纳合约查看列表</a></li>
			<li><a href="govPlatform/add-clear-contr.html" target="_blank">新增清运合约-填写合约信息(无)</a></li>
			<li><a href="govPlatform/addclear-choose-pro.html" target="_blank">新增清运合约-选择项目</a></li>
			<li><a href="govPlatform/addclear-choose-consume.html" target="_blank">新增清运合约-选择消纳场</a></li>
			<li><a href="govPlatform/addclear-choose-transform.html" target="_blank">新增清运合约-选择运输公司</a></li>
			<li><a href="govPlatform/add-consume-fill.html" target="_blank">新增消纳合约-填写合约信息(无)</a></li>
			<li><a href="govPlatform/addconsume-choose-pro.html" target="_blank">新增消纳合约-选择项目</a></li>
			<li><a href="govPlatform/addconsume-choose-consume.html" target="_blank">新增消纳合约-选择消纳场</a></li>
			<li><a href="govPlatform/add-clear-save.html" target="_blank">新增清运合约-保存提交</a></li>
			<li><a href="govPlatform/add-consume-save.html" target="_blank">新增消纳合约-保存提交</a></li>
			<li><a href="govPlatform/choose-transform-out.html" target="_blank">选择运输公司(弹出)</a></li>
			<li><a href="govPlatform/choose-consume-out.html" target="_blank">选择消纳企业(弹出)</a></li>
			<li><a href="govPlatform/choose-pro-out.html" target="_blank">选择项目(弹出)</a></li>
			<li><a href="govPlatform/clear-contract-check-out.html" target="_blank">清运合约详情查看(弹出)</a></li>
			<li><a href="govPlatform/consume-contract-check-out.html" target="_blank">消纳合约详情查看(弹出)</a></li>
		</ul>
	</div>
	<div class="part">
		<h2>审批内容管理</h2>
		<ul>			
			<li><a href="ApprovedContentManagement/approved-content-list.html" target="_blank">审批内容维护列表</a></li>
			<li><a href="ApprovedContentManagement/approved-content-edit.html" target="_blank">审批内容维护</a></li>	
	</div>
	<div class="part">
		<h2>核准申请管理</h2>
		<ul>			
			<li><a href="ApprovedApplicationManagement/application-content-check.html" target="_blank">申请内容查看</a></li>
			<li><a href="ApprovedApplicationManagement/application-maintent-list.html" target="_blank">申请表维护列表</a></li>
			<li><a href="ApprovedApplicationManagement/application-check-list.html" target="_blank">申请表查看列表</a></li>	
			<li><a href="ApprovedApplicationManagement/application-add.html" target="_blank">申请表新增</a></li>
			<li><a href="ApprovedApplicationManagement/application-mainten.html" target="_blank">申请表维护</a></li>			
	</div>
	<div class="part">
		<h2>核准审批管理</h2>
		<ul>			
			<li><a href="ExaminationApprovalManagement/approved-list.html" target="_blank">核准审批列表</a></li>
			<li><a href="ExaminationApprovalManagement/approved-content-wait.html" target="_blank">核准内容详情-待审批</a></li>
			<li><a href="ExaminationApprovalManagement/approved-content-pass.html" target="_blank">核准内容详情-审批通过</a></li>		
	</div>
</body>
</html>