<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>项目信息查看详情</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--bootstrap-->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <!--default-js-->
    <script src="../../js/jquery-2.1.4.min.js"></script>
    <!--bootstrap-js-->
    <script src="../../js/bootstrap.min.js"></script>

    <link href="../../css/common.css" rel="stylesheet" type="text/css">
</head>
<body >
<!--头-->
<object style="border:0px" type="text/x-scriptlet" data="../header/head.html" width=100% height=240></object>
<!--body-->
<div style="width:1206px;margin:0 auto">
    <!--左菜单-->
    <object  data="../leftMenu/parkingLeft.html" width=260px height=840"></object>
    <!--主内容-->
    <div style="width:935px;height:1000px;float: right">
        <div class="parkBasic" style="height:700px;">
            <div class="parkBg">
                <span>项目基本信息</span>
            </div>
            <div class="basic">
                <span style="color: #ff6600;margin-left:62px;"></span><span>项目名称:</span>
                <span>万科xxx公馆</span>
                <span style="color: #ff6600;margin-left:103px;"></span><span>项目负责人:</span>
                <span>老李</span>
                <span style="color: #ff6600;margin-left:89px;"></span><span>项目负责人电话:</span>
                <span>12352164875</span>
            </div>
            <div class="basic">
                <span style="color: #ff6600;margin-left:38px;"></span><span> 建筑面积(㎡):</span>
                <span>2000.0</span>
                <span style="color: #ff6600;margin-left:124px;"></span><span> 占地面积(㎡):</span>
                <span>1000.0</span>
                <span style="color: #ff6600;margin-left:75px;"></span><span>计划残土量(m³):</span>
                <span>7000.0</span>
            </div>
            <div class="basic">
                <span style="color: #ff6600;margin-left:62px;"></span><span>建设单位:</span>
                <span>万科集团房地产开发...</span>
                <span style="color: #ff6600;margin-left:53px;"></span><span>施工单位:</span>
                <span>河南金城建设有限公司</span>
            </div>
            <div class="basic">
                <span style="color: #ff6600;margin-left:62px;"></span><span>设计单位:</span>
                <span>中国建筑设计院</span>
                <span style="color: #ff6600;margin-left:92px;"></span><span>监理公司:</span>
                <span>洛阳振东监理有限公司</span>
            </div>
            <div class="basic">
                <span style="color: #ff6600;margin-left:58px;"></span><span>项目地址:</span>
                <span>河南省-驻马店市-驿城区-中山路**号</span>
            </div>
            <div class="basic2">
                <span style="margin-left:64px">项目照片:</span>
            </div>
            <img src="../../img/picture4.png" style="margin-left: 128px;margin-top: -30px;">
            <img src="../../img/picture4.png" style="margin-left: 128px;margin-top: -30px;">
            <div class="anNiu"style="margin-left:420px;margin-top:70px">
                <input type="button" value="　返回　" >
            </div>
        </div>

    </div>

</div>
<!--脚-->
<object type="text/x-scriptlet" data="../footer/foot.html" width=100% height=80></object>


</body>
</html>