<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>新增项目信息</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
     <script src="../../js/jquery-2.1.4.min.js"></script>
    <!--bootstrap-->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <!--default-js-->
   
    <!--bootstrap-js-->
    <script src="../../js/bootstrap.min.js"></script>

    <link href="../../css/common.css" rel="stylesheet" type="text/css">
   <script type="text/javascript">
$(function(){
	
	//正则
	 

	$("#submit").click(function(){

			   var object= new Object();
	           object.i_name=$("#name").val();
	           object.i_location=$("#location").val();
	           object.i_charge=$("#charge").val();
	           object.i_phone=$("#phone").val();
           
               var str=JSON.stringify(object);
              
    			
			$.ajax({
			  url: "../../addItem.do",
              type: "get",
              data:{str:str},
              dataType:'json',
            
              success: function(msg) {
            	  if(msg.code == "200")
    				{
    					alert("提交成功！");
    				}
    				
              }, 
    			error: function(msg) {
    				if(msg.code == "500")
    				{
    					alert("提交失败！");
    				}
    				
              
              }
    		});
	});
});

</script>
</head>
<body >
<!--头-->
<object style="border:0px" type="text/x-scriptlet" data="../header/head.html" width=100% height=240></object>
<!--body-->
<div style="width:1206px;margin:0 auto">
    <!--左菜单-->
    <object  data="../leftMenu/govplatform-left.html" width=260px height=840"></object>
    <!--主内容-->
    <div style="width:935px;height:1000px;float: right">
    <div class="parkBasic" style="height:700px;">
            <div class="parkBg">
                <span>新增项目基本信息</span>
            </div>
            <div class="basic">
                <span style="color: #ff6600;margin-left:56px;">*</span><span>项目名称:</span>
                <input type="text" id="name">
                <span style="color: #ff6600;margin-left:60px;">*</span><span>项目负责人:</span>
                <input type="text" id="charge">
                <span style="color: #ff6600;margin-left:22px;">*</span><span>项目负责人电话:</span>
                <input type="text" id="phone">
                
            </div>
      
  
            <div class="basic">
                <span style="color: #ff6600;margin-left:58px;">*</span><span>项目地址:</span>
                <input type="text" id="location">
              
            </div>
            <div class="basic2">
                <span style="margin-left:64px">项目照片:</span>
            </div>
            <img src="../../img/picture4.png" style="margin-left: 128px;margin-top: -30px;">
            <img src="../../img/picture4.png" style="margin-left: 128px;margin-top: -30px;">
            <div class="anNiu"style="margin-left:420px;margin-top:70px">
              <button class="btn  btn-warning" id="submit">保存</button>  
            </div>
        </div>
        
    </div>

</div>
<!--脚-->
<object type="text/x-scriptlet" data="../footer/foot.html" width=100% height=80></object>


</body>
</html>