<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">  
    <!--[if lt IE 9]>
      <script src="../../js/html5shiv.min.js"></script>
      <script src="../../js/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../../css/leftbar.css">
	<link rel="stylesheet" href="../../css/person-info-dw.css">

	    <style type="text/css">

    </style>
</head>
<body>
	<main>
		<div class="sidebar">
			<h4>政务公告</h4>
            <dl>
              <dd class="thison"><a href="">政务介绍</a></dd>
              <dd><a href="ban-notice-list.html">禁行公告</a></dd>
              <dd><a href="">项目公告</a></dd>
              <dd><a href="">企业评级</a></dd>
              <dd><a href="">项目评级</a></dd>
              <dd><a href="">车辆评级</a></dd>
            </dl>
    </div>

		   

			
	

	 <script src="../../js/jquery-1.12.0.min.js"></script>
    <script src="../..//js/bootstrap.min.js"></script>
</body>
</html>